.Navbar__header {
    background-color: #404040;
    height: 3rem;
    padding: 1rem; // 1rem =16px

    a {
        text-decoration: none;
        color: antiquewhite;
        font-weight: bold;
    }
}